body 
{
    background-color: #f6c7ff;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 
{
   font-size:  65px;
   line-height: 0.7;
   color: #fff;
    text-shadow: -2px 2px #ef3550,
               -4px 4px #f48fb1,
               -6px 6px #7e57c2,
               -8px 8px #2196f3,
               -10px 10px #26c6da,
               -12px 12px #43a047,
               -14px 14px #eeff41,
               -16px 16px #f9a825,
               -18px 18px #ff5722;
    margin:0;

}

p, h2 
{
 margin: 0;
 Color: #ffffff;
 text-shadow: 1px 1px 2px #2a002e; 
}

.container 
{
    width: 468px;
    margin-top: 30px;

}



.info 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.grid 
{
    display: flex;
    width: 456px;
    height: 456px;
    background-color: #9d7fb6;
    border-radius: 6px;
    border:7px solid #d16ac0;
    margin-top: 20px;
    flex-wrap: wrap;
    
}

.grid div
{
    width: 100px;
    height: 100px;
    margin: 7px;
    background-color: #EEE4DA;
    color: #AFA192;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    line-height: 1.6;
    border-radius: 3px;


}

.score-container 
{
    text-align: center;
    min-width: 70px;
    height: 60px;
    border-radius: 3px;
    background-color: #b982b2;
    color: #fff;
    font-size: clamp(20px, 5vw, 35px);
    transition: font-size 0.3s ease;
}

#reset
{
    color: #fff;
    text-shadow: 1px 1px 2px #2a002e; 
    font-size: 24px;
    background-color: #b982b2;
    border: 2px solid #251421;
    border-radius: 8px;
}

.score 
{
    font-size: 30px;
}

.score-title 
{
    font-size: 16px;
}

.gameover-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85); /* darker overlay */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.popup-content {
    background: #ffc3c3;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
}

#final-score {
    font-size: 1.2em;
    color: #fa3e67;
    margin: 10px 0;
    font-weight: bold;
}  

.gameover-popup.active {
    display: flex !important; 
    opacity: 1 !important;
    visibility: visible !important;
}

#restart {
    background: #8f7a66;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
}